<input-select id="select"></input-select>

<script>
    const select = document.getElementById(`select`);

    // получить значение
    console.log(select.value);

    // добавить опцию: value, name, selected (false), display (false)
    select.addOption(`value`, `name`, false, false);

    // так можно установить новое отображаемое название
    select.addOption(null, `name`, false, true);

    // так добавляется значение, которое будет выбрано
    select.addOption(`value`, `name`, true, false);

    // удалить все опции
    select.removeOptions();

    // добавить листенер на изменение выбранного значения
    select.addEventListener(`change`, function() {
        console.log(this.value);
    });
</script>