input-select {
    width: 100%;
    display: block;
    position: relative;
    height: 36px;
    color: var(--color-select-font);
    cursor: pointer;

    .display,
    .options .option {
        padding: 0 14px;
        transition: background-color 0.2s;
        white-space: nowrap;
    }

    .display {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border-radius: 2px;
        background-color: var(--color-select-display-background);

        .name {
            height: 100%;
            align-content: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        img {
            width: 10px;
            transition: transform 0.2s;
        }

        &:hover {
            background-color: var(--color-select-display-background-hover);
        }
    }

    .options {
        position: absolute;
        width: 100%;
        max-height: 360px;
        margin-top: 1px;
        display: none;
        border-radius: 0 0 2px 2px;
        overflow-y: auto;
        z-index: 1;

        .option {
            height: 34px;
            align-content: center;
            border-bottom: 1px solid var(--color-select-option-divider);
            background-color: var(--color-select-option-background);
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                background-color: var(--color-select-option-background-hover);
            }

            &:last-child {
                border: none;
            }
        }
    }

    &.opened {
        /* &::after {
            content: "";
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);
            z-index: 0;
        } */

        .display {
            border-radius: 2px 2px 0 0;

            img {
                transform: rotate(180deg);
            }
        }

        .options {
            display: block;
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
        }
    }
}