@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/roboto.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-main-font-primary: #FFFFFF;
    --color-main-font-secondary: #949BA4;
    --color-main-divider: #3C4049;
    --color-main-background: #2B2D31;

    --color-header-linear-a: #3C4049;
    --color-header-linear-b: #313338;

    --color-button-font: #FFFFFF;
    --color-button-background: #3C4049;
    --color-button-background-hover: #494d5e;

    --color-input-font: #FFFFFF;
    --color-input-background: #3C4049;
    --color-input-placeholder-font: #949BA4;

    --color-select-font: #FFFFFF;
    --color-select-display-background: #3C4049;
    --color-select-display-background-hover: #494d5e;
    --color-select-option-background: #3C4049;
    --color-select-option-background-hover: #494d5e;
    --color-select-option-divider: #33363c;

    --color-range-font: #FFFFFF;
    --color-range-slider-track: #3C4049;
    --color-range-slider-thumb: #FFFFFF;
    --color-range-slider-thumb-fill: #636572;

    --color-list-item-font: #FFFFFF;
    --color-list-item-font-secondary: #949BA4;
    --color-list-item-background: #3C4049;
    --color-list-item-background-hover: #494d5e;
    --color-list-item-background-selected: #636572;
    --color-list-placeholder-background: #313338;

    --color-scrollbar-track: #1E1E1E;
    --color-scrollbar-thumb: #494d5e;

    --color-red: #BE4141;
    --color-blue: #8697df;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
}


* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--color-main-font-primary);
    background-color: var(--color-main-background);
    user-select: none;
}


button {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    color: var(--color-button-font);
    background-color: var(--color-button-background);
    transition: background-color 0.2s;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-background-hover);
    }
}


input {
    &[type=text],
    &[type=number] {
        height: 36px;
        padding: 0 14px;
        font-size: 14px;
        border: none;
        border-radius: 2px;
        color: var(--color-input-font);
        background-color: var(--color-input-background);
        
        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-input-placeholder-font);
        }
    }

    &[type=number] {
        width: 120px;
    }
}


header {
    height: 50px;
    display: flex;
    background: linear-gradient(90deg, var(--color-header-linear-a), var(--color-header-linear-b));
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

    .draggable,
    .options {
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    .draggable {
        -webkit-app-region: drag;
        
        flex: 1;
        gap: 40px;
        color: var(--color-main-font-secondary);

        .logo {
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 300;

            .name {
                font-size: 18px;
            }
        }

        .status {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .options {
        gap: 8px;

        button {
            width: 26px;
            height: 26px;

            img {
                width: 14px;
            }

            &:nth-child(2) {
                &:hover {
                    background-color: var(--color-red);
                }
            }
        }
    }
}


main {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 28px;
    overflow: hidden;

    .preloader {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--color-main-background);
        transition: opacity 0.2s;
        z-index: 1;

        .center {
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            flex-direction: column;

            svg {
                width: 128px;
                height: 128px;
                margin-bottom: 32px;
                animation: displayLoadingRotate 5s linear infinite;
                transition: fill 0.2s;

                &.broken {
                    fill: var(--color-red);
                }
            }

            .message {
                font-size: 16px;
                line-height: 1.3;
                text-align: center;
            }
        }

        .bottom {
            position: absolute;
            bottom: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;

            & > div {
                margin-bottom: 6px;
                color: var(--color-main-font-secondary);
            }

            a {
                color: var(--color-blue);
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .section {
        display: flex;

        .block {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            gap: 5px;

            &>.name {
                font-weight: 500;
            }
        }

        .row {
            display: flex;
            gap: 5px;
        }

        &.settings {
            display: flex;
            gap: 12px;

            .block {
                &:nth-child(1) {
                    input-select {
                        width: 190px;
                    }
                }

                &:nth-child(2) {
                    .row {
                        input-select {
                            width: 140px;
                        }

                        button {
                            width: 36px;
                            flex-shrink: 0;

                            img {
                                width: 16px;
                                height: 14px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    input-range {
                        width: 220px;
                    }
                }

                &:nth-child(4) {
                    flex: 1;
                }
            }
        }

        &.editor {
            flex-direction: column;
            flex: 1;
            overflow: hidden;

            .title {
                width: 100%;
                margin-bottom: 14px;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                color: var(--color-main-font-secondary);
                white-space: nowrap;

                &::after {
                    content: "";
                    margin-left: 10px;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: var(--color-main-divider);
                }
            }

            .row {
                justify-content: space-between;
                flex: 1;
                overflow: hidden;

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    &:nth-child(1) {
                        width: 280px;

                        .block {
                            &:nth-child(2) {
                                flex: 1;
                                overflow: hidden;
                            }
                        }
                    }

                    &:nth-child(3) {
                        width: 300px;

                        .block {
                            &:nth-child(2) {
                                flex: 1;
                                overflow: hidden;
                            }
                        }
                    }

                    &:nth-child(5) {
                        width: 440px;

                        &>.row {
                            gap: 10px;

                            &>.block {
                                flex: 1;
                                overflow: hidden;
                            }
                        }
                    }
                }

                .divider {
                    width: 1px;
                    height: 100%;
                    background-color: var(--color-main-divider);
                }
            }
        }
    }
}


@keyframes displayLoadingRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}